h1 {
  position: fixed; /* 将元素定位为相对或绝对  */
  bottom: 1; /* 将元素放置在容器的底部  */
  transform: translate(0%, -50%); /* 将元素向左和向上移动 50%，以使其居中  */
  font-size: 30px/*字体大小 */
 
}

h2 {
  position: fixed; /* 将元素定位为相对或绝对  */
  bottom: 0; /* 将元素放置在容器的底部  */
  left: 50%; /* 将元素的左侧边缘放置在容器的 50% 位置  */
  transform: translate(-50%, 0%); /* 将元素向左和向上移动 50%，以使其居中  */
#chart-container {
    width: 12%;
    height: 10%;
   font-size: 25px/*字体大小 */
   
}
  
